 .collapsible {
     overflow: hidden;
     user-select: none;
 }

 .collapsible>.collapsible-title {
     cursor: pointer;
     padding: 8px 24;
     color: var(--Pure_White, #fff);
     text-align: center;
     font-family: 'Replica ProTT';
     font-size: 28px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .collapsible>.collapsible-content {
     transition: all 0.1s ease;
     max-height: 0;
     padding: 0;
     overflow: hidden;
 }

 .collapsible.open>.collapsible-content {
     max-height: 5000px;
     /* 或足够大的值 */
     padding: 24px 0;
 }

 .collapsible-title>svg {
     transition: transform 0.3s ease;
 }

 .collapsible.open>.collapsible-title>svg {
     transform: rotate(180deg);
 }